body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	background-color: #fefaef;
	height: 100%;
}

header {
	background-color: #fefaef;
	color: black;
}

a {
	color: black;
	text-decoration: none;
}

p {
	text-align: left;
}

.sub-link {
	color: whitesmoke;
	text-decoration: none;
}

.sub-link:hover {
	color: whitesmoke;
	text-decoration: none;
}

.footer-buttons {
	display: block;
	border: 1px solid #a87070;
	border-radius: 5px;
	color: white;
	font-size: 14px;
	font-weight: bolder;
	background-color: #a87070;
	margin: 20px auto;
	padding: 10px 20px;
	cursor: pointer;
}

.footer-buttons:hover {
	color: #fff;
	border: 1px solid #1f1f1f;
	background-color: #1f1f1f;
}

.copyright {
	width: 100%;
	background-color: black;
	color: #fff;
	padding: 5px;
	text-align: center;
}

.other-links {
	background-color: #e6d4be;
	display: flex;
	flex-wrap: wrap;
	padding: 2% 5% 2% 5%;
	justify-content: space-between;
	margin-top: 20px;
	flex-basis: 100%;
}

.other-links section {
	flex-basis: 30%;
}

@media only screen and (max-width: 600px) {

	.other-links {
		margin-top: 20px;
		flex-basis: 100%;
	}

	.top-part img {
		width: 35px;
		height: 35px;
		padding: 5px;
	}

	.top-part h1 {
		font-size: 15px;
	}

	nav:hover .fa-angle-down {
		transform: translate(0, 140px) rotate(180deg);
	}

}

nav.hidden {
	transform: translateY(-100%);
  }
  
  nav {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #fefaef;
	z-index: 100;
	transition: transform 0.5s ease-in-out;
  }
  
  .top-part {
	/* Styles for the top part of the navbar */
  }
  
  .bottom-part {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    background-color: #e6d4be;
}

nav:hover .bottom-part {
    max-height: 200px; /* Set the maximum height you want to transition to */
    transition: max-height 0.5s ease-in-out;
}
  
  nav ul {
	margin: 20px 0 0 0;
	display: inline;
  }
  
  nav li {
	list-style: none;
	display: inline-block;
	padding: 10px 20px;
  }
  

  .fa-angle-down {
    transition: transform 0.3s ease-in-out;
	color: #e6d4be;
}


nav:hover .fa-angle-down {
    transform: translate(0, 70px) rotate(180deg);
}

/* for forms */
#name,
#email,
#message,
#topic,
#search-in,
#keyword {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
}

label {
	padding: 12px 12px 12px 0;
	display: inline-block;
}

#submit-button, #submit-advsearch {
	margin-top: 10px;
	background-color: whitesmoke;
	color: black;
	/*font-weight: bold;*/
	padding: 10px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: right;
}

#submit-button:hover, #submit-advsearch:hover {
	background-color: #70a882;
	color: whitesmoke;
}

img {
	border-radius: 4px;
}

#feedback,
#newSub,
#update,
#advancedSearch {
	color: whitesmoke;
	border-radius: 10px;
	background-color: #708ca8;
	padding: 20px 30px 20px 30px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.col-25 {
	text-align: left;
	float: left;
	width: 25%;
	margin-top: 6px;
}

.col-75 {
	float: left;
	width: 75%;
	margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}


/* This stuff is for the article's page to display the button colors, fonts and whatnot */
#color1 {
	background-color: #ffffff;
	border: none;
}

#color2 {
	background-color: #f4eac8;
	border: none;
}

#color3 {
	background-color: #808080;
	border: none;
}

#color4 {
	background-color: #060c21;
	border: none;
	color: #ffffff;
}

#color5 {
	background-color: #000000;
	border: none;
	color: #ffffff;
}

#font-select {
	font-size: 16px;
	/* adjust as needed */
	font-family: Arial, sans-serif;
	/* fallback font */
}

#font-select option[value="Arial"] {
	font-family: Arial, sans-serif;
}

#font-select option[value="Helvetica"] {
	font-family: Helvetica, sans-serif;
}

#font-select option[value="Verdana"] {
	font-family: Verdana, sans-serif;
}

#font-select option[value="Times New Roman"] {
	font-family: "Times New Roman", serif;
}

#font-select option[value="Georgia"] {
	font-family: Georgia, serif;
}

#font-select option[value="Comic Sans MS"] {
	font-family: "Comic Sans MS", cursive;
}

#font-select option[value="Courier New"] {
	font-family: "Courier New", monospace;
}

#font-select option[value="Baskerville"] {
	font-family: Baskerville, serif;
}

hr {
	width: 80%;
	background-color: #edd8b9;
	height: 0.0625em;
}


#search input {
        width: 100%;
        padding: 12px 24px;

        background-color: transparent;
        transition: transform 250ms ease-in-out;
        font-size: 14px;
        line-height: 18px;
        
        color: #575756;
        background-color: transparent;
/*         background-image: url(http://mihaeltomic.com/codepen/input-search/ic_search_black_24px.svg); */
 
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: 18px 18px;
        background-position: 95% center;
        border-radius: 50px;
        border: 1px solid #575756;
        transition: all 250ms ease-in-out;
        backface-visibility: hidden;
        transform-style: preserve-3d;
    }
	#search input:hover,
	#search input:focus {
		padding: 12px 0;
		outline: 0;
		border: 1px solid transparent;
		background-color: transparent;
		border-bottom: 1px solid #575756;
		border-radius: 0;
		background-position: 100% center;
	}